button{
display: block;
justify-content: center;
margin-left: 40%;
margin-top: 1%;
display:flex;
}


button:hover
{
background-color: rgb(37, 37, 37);
color: palevioletred;
}

#chutezin{
width: 100px;
height: 100px;
background-color:lightgreen;
}